body {
    color: #fff;
    background-image: url(images/2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* backdrop-filter: blur(1px); */
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;

}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

@media(orientation: portrait) and (min-width: 360px) {
    body {
        background-size: cover;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }
}

@media(orientation: landscape) and (max-width: 800px) {

    .high-score {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    #highScoresList {
        list-style: none;
        margin: 2rem;

    }

    #finalScore {
        margin: 50px 0 0;
    }

}